.search-parts {
  padding-top: 40px;
  position: relative;
  background-color: #323232;
  color: #fff;
  margin-bottom: 40px;


  &::before, &::after {
    content: '';
    position: absolute;
    top: 7px;
    width: 34%;
    height: 72px;
    
    background-repeat: repeat-x;
  }

  &::before {
    left: 0;
    background-position: 100% 0;
    background-image: url('../img/search-parts/bg-left.png');
  }
  
  
  &::after {
    right: 0;
    background-position: 0 0;
    background-image: url('../img/search-parts/bg-right.png');

  }
  // margin-bottom: 37px;
  
 
  // .search-parts__container

  &__container {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -37px;
      left: 50%;
      transform: translateX(-50%);
      width: 116px;
      height: 116px;
      border-radius: 50%;
      background-color: inherit;
      background-image: url('../img/search-parts/result.svg');
      background-position: left 50% bottom 18px;
      background-repeat: no-repeat;
      background-color: #323232;

    }
  }

  // .search-parts__title

  &__title {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }

  // .search-parts__form

  &__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: auto;
    justify-content: space-between;
    align-items: end;
    gap: 25px;
  }

  // .search-parts__control

  &__control {

    

    button {
      height: 40px;
      width: 100%;
    }

    .choices__inner {
      min-height: 40px;
      border: 0;
      background-color: #FFFFFF;
      border-radius: 3px;
    }

    .choices {
      color: #404040;
    }

    .choices[data-type*=select-one]::after {
      content: '';
      height: 4px;
      width: 6px;
      border: 0;
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
      background: url('../img/search-parts/select-arrow.svg') 50% 50% no-repeat;
  }

    label {
      font-weight: 500;
      display: block;
      margin-bottom: 5px;
    }
  }

  // .search-parts__result

  &__result {
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
  }
}

